.footer {
  background-color: var(--background);
  padding: 2rem 0;
  color: var(--secondary);
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .socialLinks {
    gap: 1rem;
  }
}
