.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.noFormat {
  color: var(--primary);
  font-size: (--text-md);
  font-weight: 700;
}

.titleFormat {
  color: var(--secondary);
  font-size: var(--text-2xl);
  font-weight: 700;
  margin-left: 2px;
  margin-bottom: 2px;
}

.horizontalLine {
  height: 1px;
  width: 40%;
  background-color: var(--line);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 6px;
  overflow: visible;
}
