.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.optionLabel {
  position: relative;
  /* padding-left: 10px; */
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.optionLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--secondary);
  transition: background-color 0.25s ease-in-out;
}

.selected::before {
  background-color: var(--primary);
}

.option {
  display: flex;
  text-align: left;
  cursor: pointer;
  color: var(--tertiary);
  transition: color 0.25s ease-in-out;
  padding: 10px;
}

.selected .option {
  /* font-weight: bold; */
  transition: all 0.25s ease-in-out;
  color: var(--primary);
}

.option:hover {
  /* font-weight: bold; */
  /* background-color: var(--lighterBackground); */
  transition: all 0.25s ease-in-out;
  color: var(--primary);
  background-color: var(--lighterBackground);
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-left: 50px;
}

.workRole {
  color: var(--secondary);
  font-weight: bold;
  font-size: 16px;
}

.roleTasks {
  list-style-type: " ▸ ";
  color: var(--tertiary);
  margin-left: 20px;
}
