.imageWrapper {
  width: 220%;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  /* scale: 1.2; */
}

.image {
  object-fit: contain;
  width: 90% !important;
  position: relative !important;
  height: unset !important;
  transition: var(--transition);

  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.image:hover {
  filter: none;
  border: none;
  padding-bottom: 0;
  padding-right: 0;
}
